{% extends "base.html" %}

{% block head %}
<script defer src="{{ page.assets.password_toggle_js.route() }}"></script>
{% endblock %}

{% block content %}
<div class="flex-center">
  <div class="dialog">
    <h1 class="dialog-header">{{ lang.t("encrypted.title") }}</h1>
    <form action="/{{ id }}" method="post">
      <input type="hidden" name="confirm_burn" value="1">
      <div class="dialog-section">
        <div class="password-input-wrap">
          <input type="password" id="password" name="password" placeholder="{{ lang.t("encrypted.placeholder") }}" autofocus>
          {% include "password-toggle.html" %}
        </div>
      </div>
      <div class="dialog-section dialog-actions">
        <a class="button button-secondary" href="/">{{ lang.t("encrypted.cancel") }}</a>
        <button class="button" type="submit">{{ lang.t("encrypted.decrypt") }}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
